@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #ffffff;
  --color-foreground: #707070;
  --color-primary: #60A5FA;
  --color-secondary: #F0F6FF;
  --color-accent: #93C5FD;
  --color-muted: #F0F0F0;
  --color-border: rgba(0, 0, 0, 0.1);
  --text-base: 18px;
  --text-link: 16px;
  --text-header: 64px;
  --text-title: 28px;
  --text-hero: 96px;
}

:root {
  color: var(--color-foreground);
  background: var(--color-background);
  font-size: var(--text-base);
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}
